body {
    margin: 0px;
    width: 100vw;
    height:100%;
}

.container {
    display: grid;
    grid-template-areas: 
    "tulips-container";
    place-items: center;
    height: 100vh;
    width: inherit;

}

.tulips-container {
    position: relative;
    height: inherit;
    width: 300px;
}

.tulip {
    position: absolute;
    width: 300px;
    height: 600px;

}

.tulip-1 {
    top:20%;
}

.bud {
    position:absolute;
    width: 10px;
    transform-origin: bottom;
    background: linear-gradient(to right,rgb(62, 229, 62), rgb(0, 159, 0));
}

.bud-1 {
    top: 90%;
    left: 50%;
    height:10%;
}

.bud-2 {
    top: 81%;
    left: 50%;
    height:10%;
    transform: rotate(2deg);
}

.bud-3 {
    top: 71%;
    left: 50.6%;
    height:10%;
    transform: rotate(3deg);
}

.bud-4 {
    top: 62%;
    left: 51.5%;
    height:10%;
    transform: rotate(5deg);
}

.bud-5 {
    top: 53%;
    left: 53%;
    height:10%;
    transform: rotate(7deg);
}

.bud-6 {
    top: 43.5%;
    left: 55.4%;
    height:10%;
    transform: rotate(8deg);
}


.bud-leaf {
    position: absolute;
}

.bud-leaf-1 {
    width: 80px;
    height: 95px;
    background: radial-gradient(rgb(255, 94, 121), pink);
    top: 31%;
    left: 38%;
    transform: rotate(-10deg) rotateY(-45deg);
    border-radius: 50% 50% 50% 50%;
}

.bud-leaf-2 {
    width: 80px;
    height: 95px;
    background: radial-gradient(rgb(255, 94, 121), pink);
    top: 32.5%;
    left: 57%;
    transform: rotate(29deg) rotateY(45deg);
    border-radius: 50% 50% 50% 50%;
}

.bud-leaf-3 {
    width: 80px;
    height: 100px;
    background: linear-gradient(rgb(255, 94, 121), pink);
    top: 31%;
    left: 47.5%;
    transform: rotate(9deg);
    border-radius: 50% 50% 45% 45%;
}

.tulip-2 {
    top:20%;
}

.bud-7 {
    top: 89%;
    left: 50%;
    height:10%;
    transform: rotate(8deg);
}

.bud-8 {
    top: 80%;
    left: 52.5%;
    height:10%;
    transform: rotate(10deg);
}

.bud-9 {
    top: 77.5%;
    left: 55.8%;
    height:3%;
    transform: rotate(11deg);
}


.bud-10 {
    top: 75%;
    left: 56.8%;
    height:3%;
    transform: rotate(11.5deg);
}

.bud-11 {
    top: 73%;
    left: 57.6%;
    height:3%;
    transform: rotate(12deg);
}

.bud-12 {
    top: 71.5%;
    left: 58.6%;
    height:2%;
    transform: rotate(13.5deg);
}

.bud-13 {
    top: 69%;
    left: 59.4%;
    height:3%;
    transform: rotate(14deg);
}

.bud-14 {
    top: 65.5%;
    left: 60.6%;
    height:4%;
    transform: rotate(14.5deg);
}

.bud-14 {
    top: 67.5%;
    left: 60.6%;
    height:2%;
    transform: rotate(14.5deg);
}

.bud-15 {
    top: 66%;
    left: 61%;
    height:3%;
    transform: rotate(15deg);
}

.bud-16 {
    top: 63.5%;
    left: 62.4%;
    height: 3%;
    transform: rotate(15.5deg);
}



.tulip-3 {
    top:20%;
}

.bud-17 {
    top: 95%;
    left: 50%;
    height:5%;
    transform: rotate(-25deg);
}

.bud-18 {
    top: 91%;
    left: 46.4%;
    height:5%;
    transform: rotate(-25.5deg);
}

.bud-19 {
    top: 89.5%;
    left: 43%;
    height:3%;
    transform: rotate(-24deg);
}

.bud-20 {
    top: 87%;
    left: 40.8%;
    height:3%;
    transform: rotate(-23deg);
}


.bud-21 {
    top: 82.5%;
    left: 38.7%;
    height:5%;
    transform: rotate(-22deg);
}


.bud-22 {
    top: 78%;
    left: 35%;
    height:5%;
    transform: rotate(-21deg);
}

.bud-23 {
    top: 75.5%;
    left: 31.5%;
    height:3%;
    transform: rotate(-19deg);
}


.bud-24{
    top: 73%;
    left: 29.8%;
    height:3%;
    transform: rotate(-18deg);
}

.bud-25{
    top: 70.5%;
    left: 28.2%;
    height:3%;
    transform: rotate(-17deg);
}

.bud-26{
    top: 68%;
    left: 26.6%;
    height:3%;
    transform: rotate(-16deg);
}

.bud-27{
    top: 64.5%;
    left: 25.2%;
    height:4%;
    transform: rotate(-16deg);
}


.bud-28{
    top: 61%;
    left: 23%;
    height:4%;
    transform: rotate(-15deg);
}

.bud-leaf-7 {
    width: 70px;
    height: 85px;
    background: radial-gradient(rgb(255, 94, 121), pink);
    top: 49%;
    left: -2%;
    transform: rotate(-25deg) rotateY(-45deg);
    border-radius: 50% 50% 50% 50%;
}

.bud-leaf-8 {
    width: 70px;
    height: 85px;
    background: radial-gradient(rgb(255, 94, 121), pink);
    top: 47%;
    left: 17%;
    transform: rotate(5deg) rotateY(-45deg);
    border-radius: 50% 50% 50% 50%;
}

.bud-leaf-9{
    width: 70px;
    height: 90px;
    background: linear-gradient(rgb(255, 94, 121), pink);
    top: 48%;
    left: 8%;
    transform: rotate(-15deg);
    border-radius: 50% 50% 45% 45%;
}









@media screen and (max-width: 374px){
    .tulip-1 {
        display: none;
    }
    
}
